@font-face {
	font-family : Oregano-Regular;
	src : url(Oregano-Regular.ttf);
}

body {
	font-family : Oregano-Regular;
	padding: 60px 20px;
}
@media (min-width: 600px) {
	body {
		padding: 60px;
  }
}

/* title style */
.title {
	padding-bottom : 3px;
}

.title pre {
	text-align : center;
}

/* menu list style */
.menu_list, .category_list {
	list-style-type : none;
	text-align : center;
}

.menu_list li {
	display : inline;
	padding-right : 15px;
	font-size : 1em;
}

.menu_list a {
	text-decoration : none;
	color : DarkGray;
}

/* selection form style */
.question-form {
	height : 450px;
}

.question-form p {
	text-align : center;
	font-size : 2em;
	top : 50%;
	left : 50%;
}

/* age div */
.age_div {
	width : 50%;
	float : left;
}

.age_div p {
	text-align : center;
	font-size : 1.2em;
}

.age_div img {
	height : 80px;
	width : auto;
}

/* feeling div */
.feeling_div1 {
	width : 33%;
	float : left;
}

.feeling_div1 p {
	text-align : center;
	font-size : 1.2em;
}

.feeling_div1 img {
	height : 80px;
	width : auto;
}

.feeling_div2 {
	width : 25%;
	float : left;
}

.feeling_div2 p {
	text-align : center;
	font-size : 1.2em;
}

.feeling_div2 img {
	height : 80px;
	width : auto;
}

/* transportation div */
.trans_div {
	width : 20%;
	float : left;
}

.trans_div p {
	text-align : center;
	font-size : 1.2em;
}

.trans_div img {
	height : 80px;
	width : auto;
}

/* time div */
.time_div {
	width : 25%;
	float : left;
}

.time_div p {
	text-align : center;
	font-size : 1.2em;
}

.time_div img {
	height : 80px;
	width : auto;
}
