@font-face {
	font-family : Oregano-Regular;
	src : url(Oregano-Regular.ttf);
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family : Oregano-Regular;
	padding: 60px 20px;
}
@media (min-width: 600px) {
	body {
		padding: 60px;
  }
}

/* title style */
.title {
	padding-bottom : 3px;
}

.title pre {
	text-align : center;
}

/* menu list style */
.menu_list, .category_list {
	list-style-type : none;
	text-align : center;
}

.menu_list li {
	display : inline;
	padding-right : 15px;
	font-size : 1em;
}

.menu_list a {
	text-decoration : none;
	color : DarkGray;
}

/* selection form style */
.walk_form {
	height : 600px;
}

.walk_form p {
	text-align : center;
	font-size : 2em;
	top : 50%;
	left : 50%;
}

.level_div p {
	text-align : center;
}

.level_div img {
	height : 40px;
	width : auto;
}

/* selection form div background */
#lnk_nam {
	background-color : brown;
	opacity : 0.25;
}

/* time, distance slider style */
.range-slider {
	margin: 60px 0 0 0%;
	width: 100%;
}

.range-slider p {
	text-align: center;
	font-size : 1em;
}

.slider-range {
	-webkit-appearance: none;
	width: calc(100% - (350px));
	height: 10px;
	border-radius: 5px;
	background: #d7dcdf;
	outline: none;
	padding: 0;
	margin: 0;
}
.slider-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #2c3e50;
	cursor: pointer;
	-webkit-transition: background 0.15s ease-in-out;
}
.slider-range::-webkit-slider-thumb:hover {
	background: #1abc9c;
}
.slider-range:active::-webkit-slider-thumb {
	background: #1abc9c;
}

.slider-value {
	display: inline-block;
	position: relative;
	width: 80px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
	background: #2c3e50;
	padding: 5px 10px;
	margin-left: 8px;
}
.slider-value:after {
	position: absolute;
	top: 8px;
	left: -7px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid #2c3e50;
	border-bottom: 7px solid transparent;
	content: "";
}

#map {
	height: 350px;
}